*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/libraries
/.idea/markdown-navigator
/.idea/markdown-exported-files.xml
/.idea/markdown-navigator.xml
/.idea/caches
/.idea/shelf
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/sonarlint/